.wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;;
  flex-direction: column; 
  width: 80%;
  margin: 20px auto 0;
}

// .item {
//   display: flex;
//   flex-direction: column;
//   img {
//     object-fit: contain;
//   }

//   .title {
//     transform: scale(.5);
//   }
// }